@charset "UTF-8";

.container{
    background-color: #ccc;
    height: 500px;
    display: flex;
    
    flex-direction: row;
    /* column | row-reverse | column-reverse */
    
    flex-wrap: wrap;
    /* wrap | wrap-reverse */
    
    justify-content: flex-start;
    /* flex-end | center | space-around | space-between */

    align-items: stretch;
    /* flex-star | flex-end | center | baseline */

    align-content: flex-start;
}

.item{
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    margin: 5px;
    height: 30px;

    flex: 1 1 300px;
    /*
    O flex é o shortcut de:
    -flex-grow
    -flex-shrink
    -flex-basis
    */
}
.article1{

}
.article2{

}
.article3{

}
.article4{

}